.container{
	width: 100%;
	height: 100%;
	padding: 0;
}
.header{
	width: 100%;
	height: 55px;
	min-width: 1300px;
	background: #323232;
	border-bottom: 1px solid gray;
}
.head-ul, .head-ul li{
	list-style: none;
	padding: 0;
	margin: 0;
}
.head-ul li{
	float: left;
}
#loginout, #head-user{
	font-size: 20px;
	line-height: 55px;
	margin-left: 30px;
}
#head-main{
	font-size: 20px;
	line-height: 55px;
}
#loginout{
	margin-right: 15px;
}
#head-user{
	color: #337ab7;
}
#head-user + a{
	font-size: 25px;
	line-height: 55px;
}
.row{
	width: 100%;
	display: table;
	margin: 0;
}
.left-nav{
	width:14%;
	min-width: 200px;
	max-width: 250px;
	height: 500px;
	background: #323232;
	display: table-cell;
	border-right: 1px solid gray;
}
.left-nav ul li{
	border-bottom: 1px solid gray;
}
#user-child ul li{
	background: #323232;
	border-top: 1px solid gray;
}
.left-nav-icon{
	line-height: 16px;
	margin-right: 10px;
	margin-left: 15px;
	font-size: 16px;
}
.page-content{
	width: 86%;
	display: table-cell;
	min-width: 1100px;
	background: #ededed;
}
.nav-content{
	width: 100%;
}
.nav-content ol{
	padding-left: 30px;
	margin-top: 10px;
}
/** 鏈湴鐢ㄦ埛*/
.user{
	width:100%;
	border: 1px 1px 1px 1px solid gray;
	padding-left: 20px;
}
.user-operate{
	width: 98%;
	height: 50px;
	border-radius: 30px;
	background: gray;
	opacity:0.8;/*鍏朵粬锛岄�忔槑搴�50%*/
}
.user-operate button{
	width: 100px;
	height: 35px;
	line-height: 20px;
	margin-top: 8px;
	margin-left: 20px;
	border-radius: 5px;
}
.data-table{
	width: 98%;
	min-width: 1000px;
	margin-top: 20px;
}
.data-table-top{
	width: 100%;
	height: 40px;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
.show-total, .show-selected{
	float: left;
	line-height: 40px;
	margin-left: 15px;
}
.data-table-content{
	width: 100%;
	display: block;
	overflow-y: auto;
}
.data-thead{
	background: gray;
}
.data-table-tbody{
	
}

/* 淇敼瀵嗙爜*/
.content-form{
	width: 40%;
	min-width: 700px;
	margin-left: 40px;
}
.operation{
	margin-top: 30px;
}
/*鎼滅储妗�*/
.content-search{
	width: 96%;
	height: 60px;
	background: gray;
	margin-bottom: 20px;
	margin-left: 20px;
}

.content-search-condition{
	width: 25%;
}
.search-condition{
	width: 400px;
	min-width: 420px;
	margin-left: 10px;
	margin-top: 15px;
}
.search-condition span, .search-condition input{
	margin-left: 10px;
	font-size: 22px;
}
.search-condition input{
	width: 200px;
}
.content-search-submit{
	width: 16%;
	margin-top: 15px;
}

textarea{
	width: 570px;
	height: 100px;
}
.content-search-submit button{
	margin-right: 20px;
}
/*棣栭〉*/
.show-resource-use-rate, .show-vm-total{
	width: 47%;
	height: 250px;
	margin-top: 20px;
	margin-left: 20px;
	float: left;
	border: 1px solid gray;
}
.show-percentage{
	position: relative;
	left: 40%;
	bottom: 120px;
}
.show-percentage a{
	font-size: 40px;
	color: #9c3;
}
.show-percentage span{
	color: #9c3;
}
.resource-name, .vm-title{
	width: 100%;
	height: 30px;
	background: #6a7075;
}
.resource-name span, .vm-title span{
	margin-left: 20px;
	line-height: 30px;
}
#cpu-use-rate, #ram-use-rate, #storage-use-rate{
	margin-left: 30%;
	margin-top: 20px;
}
.total-storage{
	position: relative;
	bottom: 60px;
	left: 40%;
}
.vm-number{
	width: 100%;
	height: auto;
}
.vm-close-number{
	margin-left: 27%;
	margin-top: 60px;
	float: left;
}
.vm-close-number a{
	margin-left: 15px;
	font-size: 40px;
	color: red;
}
.vm-open-number a{
	margin-left: 15px;
	font-size: 40px;
	color: green;
}
.vm-line{
	position: relative;
	width: 2px;
	height: 60px;
	left: 50%;
	top: 70px;
	background: gray;
}
.vm-open-number{
	margin-right: 27%;
	float: right;
}
/* 显示vm的解释信息 */
.vm-type, .vm-info, .vm-explain{
	margin-top: 20px;
	margin-left: 30px;
}


/*搜索*/
.search-content{
	margin-top: 15px;
}
.cpu-group,.ram-group{
	padding-top: 2px;
}
.item{
	width: 110px;
	cursor: pointer;
	font-size: 22px;
}
.item input[type='radio']{
	display: none;
}
#cpu-number, #ram-number{
	width: 32px;
}
.add-disk-btn{
	float: left;
	margin-top: 10px;
}
.storage-name{
	display: block;
}
.storage-desc{
	display: block;
	font-style: italic;
	margin-top:2px;
	font-size:10px;
}
.disk-list{
	list-style: none;
	padding: 0;
	width: 100%;
	float: left;
}
.disk-list li{
	height: 35px;
	width: 97%;
	background: gray;
	margin-top:10px;
}
.disk-delete{
	width: 30px;
	height: 30px;
	margin-right: 10px;
	margin-top: 10px;
}
.disk-delete > a{
	cursor: pointer;
	display: inline-block;
    vertical-align: middle;
	width: 17px;
	height: 17px;
	background-image: url("../img/delete.png");
}
/*
.disk-delete img{
	cursor: pointer;
}*/

.disk-details{
	margin-left: 20px;
	float: left;
}
.disk-details span{
	margin-right: 10px;
	line-height: 35px;
}
.disk-details input{
	width: 60px;
}
#add-disk:hover{
	background-color:#808080;
	color: white;
}
/*提醒信息*/
.warning-info{
	position: relative;
	top: -25px;
	left: 104%;
	display: none;
}
.warning-info span{
	color: red;
	font-size: 14px;
}
.username-warming-info{
	position: absolute;
	top: 130px;
	left: 980px;
	display: none;
}
.username-warming-info span{
	color: red;
	font-size: 14px;
}
.psd-warning-info{
	position: absolute;
	top: 180px;
	left: 1000px;
	display: none;
}
.psd-warning-info span{
	color: red;
	font-size: 14px;
}
.psd-conf-warming-info{
	position: absolute;
	top: 230px;
	left: 1000px;
	display: none;
}
.psd-conf-warming-info span{
	color: red;
	font-size: 14px;
}
/*星号*/
.asterisk{
	color:red;
	margin-right: 10px;
	font-size: 15px;
}
/*cpu、内存、储存的使用率*/
.progress-percent-cpu,.progress-percent-ram,.progress-percent-storage{
	position: relative;
	top: -18px;
	left: 72%;
}
/* 查询没有数据  */
.no-data td{
	text-align: center;
}
/* 箭头标志*/
.arrow-sign{
	line-height: 16px;
	color:white;
}
/* 关于*/
.about-system{
	width: 96%;
	height: 100%;
	margin-left: 30px;
}
.about-system-info{
	width: 35%;
	height: 200px;
}
.about-system-info span{
	font-size: 20px;
	margin-left: 40px;
	margin-top: 30px;
}
.about-system-info p{
	font-size: 18px;
	margin-left: 40px;
	margin-top: 20px;
}

